@import url("./font/stylesheet.css");
body {
  font-family: "Blender Pro", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
a {
  color: currentColor;
  text-decoration: none;
}
div,
p,
h2,
h4,
h3,
h5 {
  margin: 16px 0;
  color: aliceblue;
  @media screen and (max-width: 767px) {
    margin: 8px 0;
  }
}
.header {
  margin: 0;
  padding: 2px 0;
  background-color: #20202380;
  padding: 0 10%;
  font-size: 18px;
  ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 16px;
    li {
      cursor: pointer;
      list-style: none;
      .havlist {
        gap: 16px;
        li {
          color: aliceblue;
          transition: 0.2s;
          &:hover {
            color: #422163;
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}
.line-container {
  width: 100%;

  .line {
    width: 100%;
    height: 100%;
    padding: 32px 0;
    fill: none;
    stroke: #6730b9;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
  }
  @media screen and (max-width: 767px) {
    .line {
      stroke: #6730b9;
      stroke-width: 10px;
    }
  }
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10%;
}
.iam-pos {
  flex-direction: column;
}
.myname {
  color: aqua;
  width: fit-content;
  margin-bottom: 5px;
  border-bottom: 2px solid #b900b0;
}
.title-section {
  font-size: 24px;
  width: fit-content;
  margin-bottom: 5px;
  border-bottom: 2px solid #b98800;
}
.work {
  flex-direction: column;

  p {
    font-size: 20px;
    margin: 8px 0;
  }
}
.myhistoryweb {
  flex-direction: column;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: #b900b0;
  font-size: 22px;
}
.aicenter {
  align-items: center;
}
.gifHero {
  padding: 32px 0 64px 0;
  width: 100%;

  object-fit: cover;
  @media screen and (max-width: 767px) {
    width: 80%;
  }
}
.pos-hero {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.myPhoto {
  border-radius: 50%;
  border: 2px solid #000;
}
.list-works {
  padding: 0 10%;
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;

    flex-direction: row;

    li {
      width: 50%;
      list-style: none;
      a {
        color: aqua;
        font-size: 20px;
        width: fit-content;
        margin-bottom: 5px;
        border-bottom: 2px solid #b900b0;
        flex-wrap: nowrap;
        cursor: pointer;
        span {
          display: none;
          flex-wrap: nowrap;
        }
        &:hover,
        &:focus {
          span {
            display: contents;
          }
        }
      }

      p {
        margin: 0;
      }
      h4 {
        font-size: 18px;
        margin: 8px 0;
        color: #d7b35b;
      }
      p {
        margin-bottom: 32px;
        font-size: 20px;
      }
      @media screen and (max-width: 767px) {
        p {
          font-size: 18px;
        }
        width: 100%;
      }
    }
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
}
