@import url("./font/stylesheet.css");
body {
  font: "Blender Pro", Arial, Helvetica, sans-serif;
}
.header {
  margin: 0;
  padding: 2px 0;
  background-color: #20202380;
  position: sticky;
  font-size: 18px;
  ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 16px;
    li {
      cursor: pointer;
      list-style: none;
      .havlist {
        gap: 16px;
        li {
          color: aliceblue;
          transition: 0.2s;
          &:hover {
            color: #422163;
          }
        }
      }
    }
  }
}
.line-container {
  height: calc(100vw / 64);
  width: 100%;

  .line {
    width: 100%;
    height: 100%;

    fill: none;
    stroke: #6730b9;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
  }
  @media screen and (max-width: 767px) {
    .line {
      stroke: #6730b9;
      stroke-width: 10px;
    }
  }
}
